* {
    box-sizing: border-box;
}

#root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

body {
    height: 100%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

textarea {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: inherit;
    box-shadow: 0 0 10px -5px #0006;
    padding: 10px;
    overflow-wrap: normal;
    white-space: pre;
}

button {
    font-family: inherit;
    font-size: inherit;
    background-color: white;
    border: 1px solid #0003;
    color: #000a;
    box-shadow: 0 0 10px -5px #0006;
    padding: 5px 10px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    transition-property: color, border, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

button:disabled {
    color: #0006;
    border: 1px solid #0002;
    box-shadow: 0 0 10px -5px #0003;
}